@import "./semantic.min.css";

body {
    font-weight: 200;
    font-size: 20px;
    background-color: #40798C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    min-width: 130px;
}

#all-log,
#about,
#login-form,
#register-form {
    margin: 60px auto 100px;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 5rem 5rem;
    background-image: radial-gradient(rgb(180, 175, 175) 5%, #FCFFF7 5%);
    background-position: 0 0;
    background-size: 34px 34px;
    /* min-height: 80vh; */
}
#all-log,
#about{
   min-width: 90vh;
}

#login-form,
#register-form {
    width: 80vh;
 }

#about{
    text-align: justify;
    justify-content: center;
}

#log-buttons .item:hover{
    cursor: pointer;
}

#task-list,
#about-main-content{
    font-size: 15px;
    font-weight: bold;
    color: #555;
    min-height: 40vh;
}


.footer {
    margin-bottom: 0;
    padding-bottom: 0;
   flex: 1;
   min-height: 10vh;
}

td:last-child {
    text-align: right;
}

table {
    width: 100%;
}
